<%= image_tag 'welcome.png' %>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <p><%= f.label :email %><br><%= f.email_field :email, :placeholder => "sample@example.com" %></p>

  <p><%= f.label :password %><br><%= f.password_field :password %></p>

  <%= f.submit "ログイン" %>

<% end %>
